.jobs-nav {
    display: flex;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    margin-top: 60px;
  }
.big-message {
  text-align: center;
  padding: 5px 20px;
  margin-bottom: 20px; /* rapproche de JobsNav */
}
  
  .jobs-nav-btn {
    flex: 1;
    padding: 12px 16px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s, color 0.2s;
  }
  
  .jobs-nav-btn:hover {
    background-color: #f5f5f5;
  }
  
  .jobs-nav-btn.active {
    border-bottom: 2px solid #75d0f1; /* vert clair */
    color: #7fc2df;
    font-weight: bold;
  }
  